* {box-sizing:border-box;}

.jumbotron {
    background-color: #18E5D6;
}

#form-container {
    margin-bottom: 40px;
}

label {
    margin-right: 5px;
}

.greeting {
    margin-top: 60px;
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
    background: rgba(255,255,255,0.5);
    padding: 15px;
}

#submit-btn {
    background-color: #fed500;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}

.link {
    margin-left: 15px;
}

#wikipedia-links {
    padding-left: 0;
}